<div class="inner cover">
  <h1 class="cover-heading">Contact me!</h1>
  <div class="row">
    <div class="col-md-6">
      <p>Residential Address :-</p>
      <blockquote>
        201, Athena building, Tycoon's Residency,
        Near Cinemax, Khadakpada, Kalyan west.
      </blockquote>
      <p>Cellular Number :- <%= number_to_phone('9167795982', country_code: '91') %></p>
      <p>Facebook - <%= link_to 'https://www.facebook.com/BhulkuAshish', 'https://www.facebook.com/BhulkuAshish' %></p>
      <p>Twitter - <%= link_to 'https://www.twitter.com/@bhulkuashish', 'https://www.twitter.com/@bhulkuashish' %></p>
      <p>Github - <%= link_to 'https://www.github.com/hmaster0', 'https://www.github.com/hmaster0' %></p>
      <p>Google - <%= link_to 'hmaster0@gmail.com', 'mailto:hmaster0@gmail.com' %></p>
    </div>
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.6455626409106!2d73.14105556443238!3d19.254272836985823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7968479a3acb9%3A0xbed4e95e9c5caecb!2sTycoons+Residency%2C+Khadakpada%2C+Kalyan%2C+Maharashtra+421301%2C+India!5e0!3m2!1sen!2sin!4v1491104888883" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
